.flex{
    display: flex;
    justify-content: space-around;
}
.flex-center{
    display: flex;
    justify-content: center;
}
.spinner{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.spinner ion-spinner{
    height: 100px;
    width: 100px;
}
.img{
    width: 100%;;
}