.icon-left{
    margin: 0 10px;
}
.cuadro{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 2px 2px 5px grey;
}
.flex{
    display: flex;
    justify-content: center;
}
.carrito{
    margin-top: 10px;

    background-color: rgb(22, 22, 22);
    width: 90%;
    text-align: center;
    border-radius: 10px;
    color: white;
    padding: 5px;
}
.flex-between{
    display: flex;
    justify-content: space-between;
    border:  solid 2px white;
    background-color: white;
    box-shadow: 2px 2px 5px grey;
    border-radius: 20px;
    margin-top: 10px;
}

.flex-between p {
    color:black;
}

.botones{
    display: flex;
    align-items: center;
}
ion-fab-button{
    margin: 0 10px 0 10px;
    height: 30px;
    width: 30px;
}
.texto{
    margin-left: 3px;
}
.remove{
    --background: rgb(0, 0, 0);
    --color:white;
}
.add{
    --background:white;
    --color: rgb(0, 0, 0);
}
.remove-all{
    --background:red;
    --color: white;
}