<ion-content [fullscreen]="true" >
  <!--Apartado de direccion, notificaciones y barra de busqueda-->
<ion-toolbar class="searchbar-toolbar" style="padding-top: 3%;">
    <ion-grid>
      <ion-row style="padding-top: 3%; padding-left: 3%; padding-right: 3%; ">
          <b style="font-weight: lighter;margin-left: 5px;color:grey;">Entregar ahora</b>
        <ion-col size="11">
          <a [routerLink]="['/direcciones']" style="text-decoration: none; color: black; display: flex; flex-direction: column; ; ">
            <span style="font-weight: bold; color: #333;">Ingrese su direccion <ion-icon name="arrow-down-outline" style="font-size: 0.8em;"></ion-icon></span>
          </a>
        </ion-col>
          <ion-col size="1">
          <a style="text-align: end;" [routerLink]="['/notificacion-promo']">
            <ion-icon name="notifications" style="font-size: 150%; color: black;"></ion-icon>
          </a>
          </ion-col>
      </ion-row>
      
    </ion-grid>

  <ion-searchbar placeholder="Buscar" style="color: black; padding-left: 3%; padding-right: 3%;"></ion-searchbar>
</ion-toolbar>
<!--Fin de apartado de direccion, notificaciones y barra de busqueda-->


<!--slide de productos-->
<div style="font-size: 18px;">

  <div class="horizontal-scroll">
    <div class="horizontal-scroll" >
      <div class="slide">
        <img src="https://d4p17acsd5wyj.cloudfront.net/shortcuts/cuisines/pizza.png" alt="">
        <span>Pizza</span></div>
      <div class="slide">
        <img src="https://d4p17acsd5wyj.cloudfront.net/shortcuts/uber_grocery.png" alt="">
        <span>Super</span></div>
      <div class="slide">
        <img src="https://d4p17acsd5wyj.cloudfront.net/shortcuts/pharmacy-v2.png" alt="">
        <span>Farmacia</span></div>
      <div class="slide">
        <img src="https://d4p17acsd5wyj.cloudfront.net/shortcuts/cuisines/fastfood.png" alt="">
        <span>Express</span></div>
        <div class="slide">
          <img src="https://cn-geo1.uber.com/static/mobile-content/eats/specialy_transparent_background.png" alt="">
          <span>Gorumet</span></div>
          <div class="slide">
            <img src="https://cn-geo1.uber.com/static/mobile-content/eats/pet_supplies.png" alt="">
            <span>Mascotas</span></div>
            <div class="slide">
              <img src="https://d4p17acsd5wyj.cloudfront.net/shortcuts/retail-v2.png" alt="">
              <span>Retail</span></div>
              <div class="slide">
                <img src="https://d4p17acsd5wyj.cloudfront.net/shortcuts/electronics.png" alt="">
                <span>Electrónica</span></div>
                <div class="slide">
                  <img src="https://d4p17acsd5wyj.cloudfront.net/shortcuts/deals.png" alt="">
                  <span>Promociones</span></div>
  </div>
</div>
</div>
  <ion-grid>
    <ion-row>
      <ion-col size="12"></ion-col>
      <ion-card style="box-shadow: 0 2px 4px rgba(0, 0, 0, 0);">
        <img src="https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly90Yi1zdGF0aWMudWJlci5jb20vcHJvZC9pbWFnZS1wcm9jL3Byb2Nlc3NlZF9pbWFnZXMvMTY0MzM2MmI3Yzk1MjVkOWUxZGQ3NjdmMDY3ZWEzMmUvNzkxNWM0YTc4YTlmOTRlZDU2MzE2YzdjNGRjMGVjODkuanBlZw==" alt="" style="border-radius: 15px;width: 400px;height: 200px;">
        <ion-card-title style="font-size: 18px;">
          Papa John's Pizza
        </ion-card-title>
          <ion-card-subtitle style="font-weight: bold;">
            30-40 min
          </ion-card-subtitle>
      </ion-card>
    </ion-row>
    
    <ion-row>
      <ion-col size="12"></ion-col>
      <ion-card style="box-shadow: 0 2px 4px rgba(0, 0, 0, 0);">
        <img src="https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly90Yi1zdGF0aWMudWJlci5jb20vcHJvZC9pbWFnZS1wcm9jL3Byb2Nlc3NlZF9pbWFnZXMvZTI3MGQ1M2M5NzQxYjUzYjgxMDI2Y2Y1MjM5N2NlODAvNzkxNWM0YTc4YTlmOTRlZDU2MzE2YzdjNGRjMGVjODkuanBlZw==" alt="" style="border-radius: 15px;width: 400px;height: 200px;">
        <ion-card-title style="font-size: 18px;">
          Santa Isabel
        </ion-card-title>
          <ion-card-subtitle style="font-weight: bold;">
            Costo de envio CLP 1200 * 25-45 min
          </ion-card-subtitle>
      </ion-card>
</ion-row>
<ion-row >
  <ion-col size="12"></ion-col>
  <ion-card style="box-shadow: 0 2px 4px rgba(0, 0, 0, 0);">
    <img src="https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly90Yi1zdGF0aWMudWJlci5jb20vcHJvZC9pbWFnZS1wcm9jL3Byb2Nlc3NlZF9pbWFnZXMvYzc4YmNkMGUxMDdkZTZiMWIwN2JlOTUzODdkNzE2MTgvNzkxNWM0YTc4YTlmOTRlZDU2MzE2YzdjNGRjMGVjODkuanBlZw==" alt="" style="border-radius: 15px;width: 400px;height: 200px;">
    <ion-card-title style="font-size: 18px;">
      Jumbo
    </ion-card-title>
      <ion-card-subtitle style="font-weight: bold;">
        Costo de envio CLP 2200 * 40-60 min
      </ion-card-subtitle>
  </ion-card>
</ion-row>
  </ion-grid>
  
</ion-content>












