<ion-content [fullscreen]="true" >
  <!--Apartado de direccion, notificaciones y barra de busqueda-->
<ion-toolbar class="searchbar-toolbar" style="padding-top: 3%;">
    <ion-grid>
      <ion-row style="padding-top: 3%; padding-left: 3%; padding-right: 3%; ">
          <b style="font-weight: lighter;margin-left: 5px;color:grey;">Entregar ahora</b>
        <ion-col size="11">
          <a [routerLink]="['/direcciones']" style="text-decoration: none; color: black; display: flex; flex-direction: column; ; ">
            <span style="font-weight: bold; color: #333;">Ingrese su direccion <ion-icon name="arrow-down-outline" style="font-size: 0.8em;"></ion-icon></span>
          </a>
        </ion-col>
          <ion-col size="1">
          <a style="text-align: end;" [routerLink]="['/notificacion-promo']">
            <ion-icon name="notifications" style="font-size: 150%; color: black;"></ion-icon>
          </a>
          </ion-col>
      </ion-row>
      
    </ion-grid>

  <ion-searchbar placeholder="Buscar" style="color: black; padding-left: 3%; padding-right: 3%;"></ion-searchbar>
</ion-toolbar>
<!--Fin de apartado de direccion, notificaciones y barra de busqueda-->


<!--slide de productos-->
<div style="font-size: 18px;">

  <div class="horizontal-scroll">
    <div class="horizontal-scroll" >
      <div class="slide">
        <img src="../../../assets/imgs/cat/pizza.png" alt="">
        <span>Pizza</span></div>
      <div class="slide">
        <img src="../../../assets/imgs/cat/groceria.png" alt="">
        <span>Super</span></div>
      <div class="slide">
        <img src="../../../assets/imgs/cat/farmacia.png" alt="">
        <span>Farmacia</span></div>
      <div class="slide">
        <img src="../../../assets/imgs/cat/express.png" alt="">
        <span>Express</span></div>
        <div class="slide">
          <img src="../../../assets/imgs/cat/gourmet.png" alt="">
          <span>Gorumet</span></div>
          <div class="slide">
            <img src="../../../assets/imgs/cat/mascota.png" alt="">
            <span>Mascotas</span></div>
            <div class="slide">
              <img src="../../../assets/imgs/cat/retail.png" alt="">
              <span>Retail</span></div>
              <div class="slide">
                <img src="../../../assets/imgs/cat/electronica.png" alt="">
                <span>Electrónica</span></div>
                <div class="slide">
                  <img src="../../../assets/imgs/cat/promo.png" alt="">
                  <span>Promociones</span></div>
  </div>
</div>
</div>
  <ion-grid>
    <ion-row>
      <ion-col size="12"></ion-col>
      <ion-card style="box-shadow: 0 2px 4px rgba(0, 0, 0, 0);">
        <img src="../../../assets/imgs/papa.webp" alt="" style="border-radius: 15px;width: 400px;height: 200px;">
        <ion-card-title style="font-size: 18px;">
          Papa John's Pizza
        </ion-card-title>
          <ion-card-subtitle style="font-weight: bold;">
            30-40 min
          </ion-card-subtitle>
      </ion-card>
    </ion-row>
    
    <ion-row>
      <ion-col size="12"></ion-col>
      <ion-card style="box-shadow: 0 2px 4px rgba(0, 0, 0, 0);">
        <img src="../../../assets/imgs/santa.webp" alt="" style="border-radius: 15px;width: 400px;height: 200px;">
        <ion-card-title style="font-size: 18px;">
          Santa Isabel
        </ion-card-title>
          <ion-card-subtitle style="font-weight: bold;">
            Costo de envio CLP 1200 * 25-45 min
          </ion-card-subtitle>
      </ion-card>
</ion-row>
<ion-row >
  <ion-col size="12"></ion-col>
  <ion-card style="box-shadow: 0 2px 4px rgba(0, 0, 0, 0);">
    <img src="../../../assets/imgs/jumbo.webp" alt="" style="border-radius: 15px;width: 400px;height: 200px;">
    <ion-card-title style="font-size: 18px;">
      Jumbo
    </ion-card-title>
      <ion-card-subtitle style="font-weight: bold;">
        Costo de envio CLP 2200 * 40-60 min
      </ion-card-subtitle>
  </ion-card>
</ion-row>
  </ion-grid>
  
</ion-content>



  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/explorar']" tab="explorar">
      <ion-icon name="search"></ion-icon>
      Explorar
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/carrito']" tab="carrito">
      <ion-icon name="cart"></ion-icon>
      Carrito
    </ion-tab-button>
    <ion-tab-button  [routerLink]="['/cuenta']" tab="cuenta">
      <ion-icon name="person"></ion-icon>
      Cuenta
    </ion-tab-button>
  </ion-tab-bar>










