.flex{
    display: flex;
    justify-content: center;
    width: 100%;
}
.item-inputs{
    border: solid 2px rgb(218, 218, 218);
    border-radius: 20px;
    margin: 15px 0 15px 0;
}
.img{
    height: 100px;
}
.cuenta{
    color:rgb(165, 165, 255);
}
.registro{
    width: 100%;
}