<ion-app>
  <ion-router-outlet>

    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home"></ion-icon>
          Inicio
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/explorar']" tab="explorar">
          <ion-icon name="search"></ion-icon>
          Explorar
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/carrito']" tab="carrito">
          <ion-icon name="cart"></ion-icon>
          Carrito
        </ion-tab-button>
        <ion-tab-button  [routerLink]="['/cuenta']" tab="cuenta">
          <ion-icon name="person"></ion-icon>
          Cuenta
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>


  </ion-router-outlet>
</ion-app>
