<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start" fill="clear" color="dark" (click)="volver()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title> Confirmacion de pedido</ion-title>
  </ion-toolbar>
</ion-header>


<ion-modal [isOpen]="isOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-button slot="start" fill="clear" color="dark" (click)="setOpen(false)">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
        <ion-title>Ver pedido</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-grid>
        <ion-row>
          <ion-col size="12" *ngFor="let x of lista" class="lista">
            <div class="flexeo">
              <div class="flex-1">
                <ion-avatar slot="start" style="height: 70px;width: 70px;">
                  <img [src]="x.imagen" alt="Imagen de local">
                </ion-avatar>
                  <ion-label style="margin-left: 10px;">{{x.producto}}</ion-label>
              </div>
              <div class="flex-1">
                <ion-label>
                  {{x.cantidad}} : CLP {{x.precio_cantidad}}
                </ion-label>
                </div>
            
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <img src="https://cdn4.iconfinder.com/data/icons/shopping-and-commerce-outline-color/512/shopping_commerce_21-1024.png" alt="" style="opacity: 0.3;" class="img-carrito">

    </ion-content>
  </ng-template>
</ion-modal>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container-4">
    <div class="pe">
      <img src="../../../assets/imgs/check.svg" alt="" *ngIf="pedido2==true" >
    </div>
  </div>
  <div class="container">
  <div>Tienes <strong>{{minuto}}:{{cero}}{{segundo}}</strong> para cancelar el pedido.</div>
  </div>
  <div class="container-2">
  <button (click)="volver()" expand="full" class="causa" *ngIf="pedido2==false">Cancelar</button>
  <img src="../../../assets/imgs/confirmo.png" alt="" *ngIf="pedido2==true">
  </div>
  <div class="container-3">
  <button (click)="setOpen(true)" expand="full" class="causa-2">Ver Pedido</button>
  </div>

  <div class="container-4">
    <div class="pe-2" *ngIf="pedido2==false"></div>
    <div class="pe" *ngIf="pedido2==true"></div>
  </div>
  <div class="container">
  <div>Pedido aceptado</div>
  </div>
  <div class="container-2">
  
  </div>
  <div class="container-3">
  </div>

  <div class="container-4">
    <div class="pe-2"></div>
  </div>
  <div class="container">
  <div>Estamos preparando tu pedido.</div>
  </div>
  <div class="container-2">
  
  </div>
  <div class="container-3">
  </div>
</ion-content>
